body {
    background-image: url("/images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: hsl(225, 100%, 94%);
    display: flex;
    justify-content: center;
    font-family: 'Red Hat Display', sans-serif;
    
}

#main_container {
    background-color: white;
    width: 350px;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

#big_img {
    width: 100%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

#text_container { 
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80%;
    align-items: center;
    margin-bottom: 40px;
    
}

#title {
    font-weight: 900;
    font-size: 20px;
    align-self: center;
}


#paragraph_text {
    font-size: 14px;
    margin: 0 35px; 
    font-weight: 100;
    color: rgb(137, 137, 137);
    text-align: center;
}

#price_container {
    background-color: hsl(225, 100%, 98%);
    width: 230px;
    border-radius: 10px;
    display: flex; 
    margin-top: 25px;
    align-items: center;
    padding-right: 25px;
    padding-left: 25px;
    justify-content: space-between;
}

#first_text {
    margin: 17px 17px 17px 0px;
    padding-left: 0px;
    font-size: 12px;
}

#music_image {
    height: 40px;
}

#first_button {
    width: 280px;
    margin-top: 25px;
    background-color: hsl(245, 75%, 52%);
    color: white;
    border-radius: 10px;
    height: 40px;
    border: none;

}


#second_button {
    width: 280px;
    margin-top: 10px;
    color: rgb(137, 137, 137);
    border-radius: 10px;
    height: 40px;
    border: none;
    background-color: white;
}